services:
  memgraph:
    image: memgraph/memgraph-mage:3.7.2
    container_name: memgraph-mage
    ports:
      - "7687:7687"
      - "7444:7444"
    command: ["--log-level=TRACE", "--schema-info-enabled"]

  lab:
    image: memgraph/lab:3.7.1
    container_name: memgraph-lab
    ports:
      - "3000:3000"
    depends_on:
      - memgraph
    environment:
      - QUICK_CONNECT_MG_HOST=memgraph
      - QUICK_CONNECT_MG_PORT=7687

#  neo4j:
#    image: neo4j:latest
#    environment:
#      - NEO4J_AUTH=neo4j/your_password
#    ports:
#      - "7474:7474"
#      - "7688:7687"
#    restart: always